@using ZeroWeb;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ZeroWeb.Models.User> SignInManager

<h1 data-pointer
    data-ng-init="news.initialize()">News</h1>

<dateselector page="@this.Model.Page" />

@foreach (var story in this.Model.Stories)
{
    var storyId = story.id;
    var permalinkId = "story" + storyId;
    var starClass = "metadata-icon" +
        (story.stars > 0 ? " metadata-icon--toggled" : string.Empty) +
        (story.starsReadOnly ? " metadata-icon--readonly" : string.Empty);
    var starRole = (story.starsReadOnly ? "" : "button");
    var starTip = (story.starsReadOnly ? "times starred" : "star this story");
    var starAriaDisabled = story.starsReadOnly.ToString();

<article data-id="@storyId">
    <!-- Article heading -->
    <h2>
        <!-- Title and Permalink -->
        <a class="permalink-anchor"
            href="news?story=@story.key"
            id="@permalinkId"
            data-tooltip="permalink"
            data-tooltip-offset-left="-1">#</a>@story.title
        
        <!-- Stars -->
        <span id="star-@storyId"
            class="metadata metadata-indicator metadata-title">
            <icon class="@starClass"
                role="@starRole"
                data-tooltip="@starTip"
                data-tooltip-offset-left="-1"
                data-tooltip-offset-top="2"
                data-tooltip-offset-bottom="4"
                area-disabled="@starAriaDisabled"
                data-src="images/banner.svg#star"
                data-width="16"
                data-height="16"
                data-tooltip="star this story"
                data-ng-click="news.addStar(@storyId)">
            </icon>
            <span class="metadata-indicator-content">
                @story.stars
            </span>
        </span>
    </h2>

    <!-- Article metadata -->
    <section class="article-metadata metadata">
        <!-- Clock icon -->
        <icon class="icon-header"
            data-src="images/banner.svg#clock"
            data-width="15"
            data-height="15"/>

        <!-- Date -->
        <span class="date">
            @Shared.FormatDate(story.date)
        </span>
        
        by

        <!-- Author -->
        <a class="author" href="#">@story.author</a>

        <!-- Location -->
        @if (!string.IsNullOrEmpty(story.location))
        {
            @: - from
            
            @if (story.latitude != null &&
                 story.longitude != null &&
                 story.location != null)
            {
                <a class="location"
                    href="https://www.google.com/maps/@@@(story.latitude),@(story.longitude),@(story.zoom)z"
                    target="_blank">
                    @story.location
                </a>
            }
            else
            {
                @story.location
            }
        }

        <!-- Views -->
        <span class="metadata-group">
            - @story.views

            @if (story.views == 1)
            {
                @:view
            }
            else if (story.views == 0 || story.views > 1)
            {
                @:views
            }
        </span>

        <!-- Tags -->
        <span class="tags">
        @foreach (var tag in story.tags)
        {
            <a class="tag">@Shared.FormatTag(tag)</a>
        }
        </span>
    </section>

    <!-- Article content -->
    <section class="article-content markdown">
        @Shared.FormatContent(story.content)
    </section>
    
    <!-- Article comments -->
    <section class="comments clear-fix">
        <section class="comments-list metadata"
            data-ng-show="news.comments[@storyId].length">
            
            <!-- Comments heading -->
            <h3 class="comments-header">
                [<span class="attention-inline">{{news.comments[@storyId].length}}</span>] Comments
            </h3>

            <!-- Story comment -->
            <article class="comment-group"
                data-ng-repeat="comment in news.comments[@storyId] | orderBy:'-votes' | orderBy:'date'">
                
                <!-- Comment votes -->
                <section class="comment__vote"
                    title="votes"
                    data-ng-class="{'vote--readonly': comment.votesReadOnly || !news.user, 'vote--default': comment.votes == 0}">
                    
                    <!-- Votes -->
                    <div class="vote__content" title="votes">
                        {{comment.votes}}
                    </div>

                    <!-- TODO: these should be submits inside a form -->
                    <!-- Upvote -->
                    <div class="metadata-icon-text button-vote upvote"
                        role="button"
                        data-tooltip="upvote"
                        data-ng-click="news.upVote(@storyId, comment.id)">&#xF035;</div>
                    
                    <!-- Downvote -->
                    <div class="metadata-icon-text button-vote downvote"
                        role="button"
                        data-tooltip="downvote"
                        data-ng-click="news.downVote(@storyId, comment.id)">&#xF036;</div>
                </section>

                <!-- Comment body -->
                <section class="comment" data-ng-class="{'comment--official': comment.author === 'zero'}">
                    <span class="metadata">
                        <a class="author">{{comment.author}}</a> {{comment.formattedDate}}:
                    </span>
                    <span class="comment__content">{{comment.content}}</span>
                </section>
            </article>
        </section>

        <!-- Add comment toggle -->
        <input id="toggle-@storyId"
            type="checkbox"
            class="comment-entry__toggle"
            data-ng-click="news.toggleComment(@storyId)">
            
        <label for="toggle-@storyId" class="button-inline no-select">
            comment
        </label>

        <!-- Login providers -->
        <section class="comment-login" data-ng-class="{'comment-login--active': !news.user}">
            <span class="comment-login__prompt">| login:</span>
            <span class="no-whitespace">
            @foreach (var loginProvider in SignInManager.GetExternalAuthenticationSchemes())
            {
            <form action="~/api/users/login/@loginProvider.AuthenticationScheme"
                method="get"
                target="login">
                <button type="submit"
                    class="button-inline button-social button-social-@loginProvider.DisplayName.ToLower()"
                    name="authenticationScheme"
                    data-tooltip="login with @loginProvider.DisplayName"
                    data-tooltip-offset-left="-4"
                    data-tooltip-offset-top="6"
                    data-ng-show="!news.user"
                    data-ng-click="news.login()">
                    <icon class="icon-button"
                        data-src="images/social.svg#@loginProvider.DisplayName.ToLower()"
                        data-width="16"
                        data-height="16">
                    </icon>
                </button>
            </form>
            }
            </span>
        </section>

        <!-- Comment entry details -->
        <section class="comment-entry">
            <!-- Comments error -->
            <error
                data-ng-class="{ 'comment-entry__error--active': news.commentError[@storyId] }"
                data-operation="news.commentOperation[@storyId]"
                data-error="news.commentError[@storyId]"
                data-code="news.commentError[@storyId].status"
                data-message="news.commentError[@storyId].statusText">
            </error>

            <form>
                <!-- Comment input -->
                <textarea id="comment-@storyId"
                    class="form-input"
                    style="height:26px"
                    data-ng-model="news.newComment[@storyId]"
                    data-ng-init="news.inputResizeFactory('#comment-@storyId')"
                    placeholder="Leave a comment"
                    rows="1">
                </textarea>

                <!-- Submit button -->
                <button type="submit" data-primary data-ng-click="news.addComment(@storyId)">
                    <icon class="icon-button"
                        data-src="images/banner.svg#submit"
                        data-width="12"
                        data-height="10">
                    </icon>
                    submit
                </button>
            </form>
        </section>
    </section>
</article>
}