@using ZeroWeb;
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ZeroWeb.Models.User> SignInManager

<h1 data-pointer
    data-ng-init="news.initialize()">news</h1>

<dateselector />

@foreach (var story in this.Model)
{
    var storyId = story.id;
    var permalinkId = "story" + storyId;
    var starClass = "metadata-icon" +
        (story.stars > 0 ? " metadata-icon-toggled" : string.Empty) +
        (story.starsReadOnly ? " metadata-icon-readonly" : string.Empty);
    var starRole = (story.starsReadOnly ? "" : "button");
    var starTip = (story.starsReadOnly ? "// times starred" : "// star this story");
    var starAriaDisabled = story.starsReadOnly.ToString();

<div class="article">
    <!-- Story heading -->
    <h2>
        <!-- Title and Permalink -->
        <a class="permalink-anchor"
            href="news?story=@story.key"
            id="@permalinkId"
            data-tooltip="// permalink">#</a>@story.title
        
        <!-- Stars -->
        <span id="star-@storyId"
            class="metadata metadata-indicator metadata-title">
            <icon class="@starClass"
                role="@starRole"
                data-tooltip="@starTip"
                data-tooltip-offset-y="5"
                area-disabled="@starAriaDisabled"
                data-src="images/banner.svg#star"
                data-width="16"
                data-height="16"
                data-tooltip="// star this story"
                data-ng-click="news.addStar(@storyId)">
            </icon>
            <span class="metadata-indicator-content">
                @story.stars
            </span>
        </span>
    </h2>

    <!-- Story metadata -->
    <p class="metadata">

        <!-- Clock icon -->
        <icon class="icon-header"
            data-src="images/banner.svg#clock"
            data-width="15"
            data-height="15"/>

        <!-- Date -->
        <span class="date">
            @Shared.FormatDate(story.date)
        </span>
        
        by

        <!-- Author -->
        <a class="author" href="#">@story.author</a>

        <!-- Location -->
        @if (!string.IsNullOrEmpty(story.location))
        {
            @: - from
            
            @if (story.latitude != null &&
                 story.longitude != null &&
                 story.location != null)
            {
                <a class="location"
                    href="https://www.google.com/maps/@@@(story.latitude),@(story.longitude),@(story.zoom)z"
                    target="_blank">
                    @story.location
                </a>
            }
            else
            {
                @story.location
            }
        }

        <!-- Views -->
        <span class="metadata-group">
            - @story.views views
        </span>

        <!-- Tags -->
        <span class="tags">
        @foreach (var tag in story.tags)
        {
            <a class="tag" data-fade>@Shared.FormatTag(tag)</a>
        }
        </span>
    </p>

    <!-- Story content -->
    <div class="markdown">
        @Shared.FormatContent(story.content)
    </div>
    
    <!-- Story comments -->
    <div class="comments"
        data-ng-init="news.loadComments(@storyId)">
        <span class="metadata"
            data-ng-show="news.comments[@storyId].length">
            
            <!-- Comments heading -->
            <p class="comments-header">
                [<span class="attention-inline">{{news.comments[@storyId].length}}</span>] Comments
            </p>

            <!-- Story comment -->
            <div class="comment-group"
                data-ng-repeat="comment in news.comments[@storyId] | orderBy:'-votes' | orderBy:'date'">
                
                <!-- Comment votes -->
                <div class="comment-vote"
                    title="votes"
                    data-ng-class="{'vote-readonly': comment.votesReadOnly || !news.user, 'vote-default': comment.votes == 0}">
                    
                    <!-- Votes -->
                    <div class="vote-content" title="votes">
                        {{comment.votes}}
                    </div>

                    <!-- Upvote -->
                    <div class="metadata-icon-text button-vote upvote"
                        role="button"
                        data-tooltip="// upvote"
                        data-ng-click="news.upVote(@storyId, comment.id)">&#xF035;</div>
                    
                    <!-- Downvote -->
                    <div class="metadata-icon-text button-vote downvote"
                        role="button"
                        data-tooltip="// downvote"
                        data-ng-click="news.downVote(@storyId, comment.id)">&#xF036;</div>
                </div>

                <!-- Comment body -->
                <p class="comment" data-ng-class="{'comment-official': comment.author === 'zero'}">
                    <span class="metadata">
                        &nbsp;// <a class="author">{{comment.author}}</a> {{comment.formattedDate}}:
                    </span>
                    <span class="comment-content">{{comment.content}}</span>
                </p>
            </div>
        </span>

        <!-- Add comment button -->
        <button class="button-inline top-margin"
            data-ng-class="{'button-inline-toggled': news.addingComment[@storyId]}"
            data-ng-click="news.addingComment['@storyId'] = !news.addingComment['@storyId']"
            data-tooltip="// post a comment"
            data-tooltip-offset-x="33"
            data-tooltip-offset-y="1">
            + comment
        </button>

        <!-- Login providers -->
        <span data-ng-show="!news.user && news.addingComment[@storyId]">
            <span class="metadata"> | login: </span>
            @foreach (var loginProvider in SignInManager.GetExternalAuthenticationSchemes())
            {
            <form action="~/api/users/login/@loginProvider.AuthenticationScheme"
                method="get"
                target="login"
                class="form-inline">
                <button type="submit"
                    class="button-inline button-social button-social-@loginProvider.DisplayName.ToLower()"
                    name="authenticationScheme"
                    data-tooltip="// login with @loginProvider.DisplayName"
                    data-tooltip-offset-x="-4"
                    data-ng-show="!news.user"
                    data-ng-click="news.login()"
                    data-fade>
                    <icon class="icon-button"
                        data-src="images/social.svg#@loginProvider.DisplayName.ToLower()"
                        data-width="16"
                        data-height="16">
                    </icon>
                </button>
            </form>
            }
        </span>

        <div class="comment-form" data-ng-show="news.addingComment[@storyId]">
            <!-- Comments error -->
            <error class="comment-error"
                data-ng-show="news.commentError[@storyId]"
                data-operation="news.commentOperation[@storyId]"
                data-error="news.commentError[@storyId]"
                data-code="news.commentError[@storyId].status"
                data-message="news.commentError[@storyId].statusText">
            </error>

            <!-- Submit button -->
            <button class="button-right"
                data-primary
                data-ng-click="news.addComment(@storyId)">
                <icon class="icon-button"
                    data-src="images/banner.svg#submit"
                    data-width="10"
                    data-height="10">
                </icon>
                submit
            </button>

            <div class="form-spacer-right"></div>
            <div class="form-spacer-left"></div>

            <!-- Comment input -->
            <div class="form-group">
                <textarea id="comment-@storyId"
                    class="form-input comment-input full-width"
                    data-ng-model="news.newComment[@storyId]"
                    data-ng-init="news.inputResizeFactory('#comment-@storyId')"
                    placeholder="Leave a comment"
                    rows="1">
                </textarea>
            </div>
        </div>
    </div>
</div>
}