@using ZeroWeb;

<h1 data-pointer data-markdown>news</h1>

@foreach (var story in this.Model)
{
<div class="article">
    <h2>@Shared.FormatTitle(story.title)</h2>
    <p class="metadata">
        <span class="date">@Shared.FormatDate(story.date)</span> by
        <span class="author">@story.author</span>
        <span class="tags">
        @foreach (var tag in story.tags)
        {
            <span class="tag">@Shared.FormatTag(tag)</span>
        }
        </span>
    </p>
    <p data-ng-show="news.loading[@story.id]"><span class="placeholder">[ loading... ]</span></p>
    <markdown data-ng-init="news.loadStory(@story.id)" data-ignore="">{{news[@story.id]}}</markdown>
</div>
}